<div class="sidebar"></div>
<div class="top-bar"></div>
<div class="content">
  <div class="custom-views container">
    <div class="custom-filter"></div>
    <div class="custom-filter"></div>
    <div class="custom-filter"></div>
    <div class="custom-filter"></div>
  </div>

  <div class="filter container">
    <span class="icon material-symbols-outlined">filter_list</span>
  </div>

  <div class="messages container">
    <ol>
      @for (i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]; track i) {
        <li class="message">
          <input type="checkbox">
          <span>Nachricht {{ i }}</span>
        </li>
      }
    </ol>
  </div>

  <div class="details container">
    <as-split direction="vertical">
      <as-split-area size="20">
        <div class="message">
          <div class="meta">
            <ul class="anhaenge">
              @for (i of attachments; track i) {
                <li (click)="show(i)" (dblclick)="selectedAttachments.set([i])" [class.selected]="selectedAttachment() === i">{{ i }}</li>
              }
              <li>
                <div (click)="toggle.set(!toggle())">
                  @if (toggle()) {
                    <span class="icon material-symbols-outlined" >toggle_on</span>
                  } @else {
                    <span class="icon material-symbols-outlined" >toggle_off</span>
                  }
                </div>
              </li>
            </ul>

            <div class="hover-section">
              <span class="icon material-symbols-outlined">reply</span>
              <span class="icon material-symbols-outlined">reply_all</span>
              <span class="icon material-symbols-outlined">forward</span>
              <span class="icon material-symbols-outlined">delete</span>
              <span class="icon material-symbols-outlined">info</span>
            </div>

            <div class="info">
              <div>
                <label>Absender</label>
                <span>max.mustermann@actaport.de</span>
              </div>

              <div>
                <label>Datum</label>
                <span>12.12.2025</span>
              </div>

              <div>
                <label>Priorität</label>
                <span>Dringlich</span>
              </div>
            </div>
          </div>

          <div class="verlinkung">
            @if (toggle()) {
              <cdk-virtual-scroll-viewport [itemSize]="30">
                <table mat-table matSort [dataSource]="dataSourceDocuments" apTable>
                  <ng-container matColumnDef="selection">
                    <th mat-header-cell *matHeaderCellDef>
                      <div class="checkbox__wrapper">
                        <input type="checkbox" [ngModel]="isAllSelected()" (ngModelChange)="masterToggleChange($event)">
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let contact; let i = index" [apCell]="{ row: i, col: 1 }">
                      <div class="checkbox__wrapper">
                        <input type="checkbox" [ngModel]="selection.isSelected(contact.id)" (ngModelChange)="selection.toggle(contact.id)">
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let document; let i = index" [apCell]="{ row: i, col: 2 }" [portal]="portalTemplate">
                      <span class="text">{{ document.name }}</span>

                      <ng-template #portalTemplate>
                        <input-control [(value)]="document.name"></input-control>
                      </ng-template>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="akte">
                    <th mat-header-cell mat-sort-header="akte" *matHeaderCellDef>Akte</th>
                    <td mat-cell *matCellDef="let document; let i = index" [apCell]="{ row: i, col: 3 }" [portal]="portalTemplate">
                      <span class="text">{{ document.akte }}</span>

                      <ng-template #portalTemplate>
                        <input-control [(value)]="document.akte"></input-control>
                      </ng-template>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ordner">
                    <th mat-header-cell mat-sort-header="ordner" *matHeaderCellDef>Ordner</th>
                    <td mat-cell *matCellDef="let document; let i = index" [apCell]="{ row: i, col: 4 }" [portal]="portalTemplate">
                      <span class="text">{{ document.ordner }}</span>

                      <ng-template #portalTemplate>
                        <input-control [(value)]="document.ordner"></input-control>
                      </ng-template>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="benutzer">
                    <th mat-header-cell mat-sort-header="benutzer" *matHeaderCellDef>Benutzer</th>
                    <td mat-cell *matCellDef="let document; let i = index" [apCell]="{ row: i, col: 5 }" [portal]="portalTemplate">
                      <span class="text">{{ document.benutzer }}</span>

                      <ng-template #portalTemplate>
                        <input-control [(value)]="document.benutzer"></input-control>
                      </ng-template>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDocuments; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsDocuments"></tr>
                </table>
              </cdk-virtual-scroll-viewport>
            } @else {
              <div class="entity-actions">
                <input placeholder="Akte" value="1/26">
                <input placeholder="Benutzer" value="Dokumente">
                <input placeholder="Ordner" value="Harry Potter">
                <span class="place"></span>
                <button>+ Frist</button>
                <button>+ Aufgabe</button>
                <button>+ Termin</button>
                <button>+ WV</button>
              </div>

              <div class="entity-table abc">
                <cdk-virtual-scroll-viewport [itemSize]="30">
                  <table mat-table matSort [dataSource]="dataSourceEntities" apTable>
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef>Typ</th>
                      <td mat-cell *matCellDef="let entity; let i = index" [apCell]="{ row: i, col: 2 }">
                        <span class="text">{{ entity.type }}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef>Datum</th>
                      <td mat-cell *matCellDef="let entity; let i = index" [apCell]="{ row: i, col: 3 }">
                        <span class="text">{{ entity.date }}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef>Titel</th>
                      <td mat-cell *matCellDef="let entity; let i = index" [apCell]="{ row: i, col: 4 }">
                        <span class="text">{{ entity.title }}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="attachments">
                      <th mat-header-cell *matHeaderCellDef>Verknüpfte Dokumente</th>
                      <td mat-cell *matCellDef="let entity; let i = index" [apCell]="{ row: i, col: 4 }">
                        <span class="text">{{ entity.attachments }}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let entity; let i = index" [apCell]="{ row: i, col: 8 }">
                        <div class="actions__wrapper">
                          <span class="icon material-symbols-outlined">visibility</span>
                          <span class="icon material-symbols-outlined">edit</span>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsEntities; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsEntities"></tr>
                  </table>
                </cdk-virtual-scroll-viewport>
              </div>
            }
          </div>
        </div>
      </as-split-area>

      <as-split-area>
        <div class="viewer">
          <embed [src]="attachmentUrl()" type="application/pdf">
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>
